
  .style_000000001 { font-size:14px; font-family:Roboto; color:rgb(119,119,119); }
  .style_000000002 { font-size:16px; font-family:Roboto; color:rgb(255,255,255); }
  .style_000000003 { font-size:48px; font-family:Roboto; color:rgb(255,255,255); }
  .style_000000004 { font-size:16px; font-family:Roboto; color:rgb(33,33,33); }
  .style_000000005 { font-size:22px; font-family:Roboto; color:rgb(33,33,33); }
  .style_000000006 { font-size:48px; font-family:Roboto; color:rgb(0,0,0); }
  .style_000000007 { font-size:14px; font-family:Roboto; color:rgb(255,255,255); }

  #mc5 a, #mc5 a:link, #mc5 a:active, #mc5 a:visited { 
    color: blue; 
    text-decoration:none; 
    transition: 0.2s all ease-in-out; 
    -webkit-transition: 0.2s all ease-in-out; 
  }
  #mc5 a:hover { color: blue; text-decoration:none; }
  #mc5 h1, #mc5 h2, #mc5 h3, #mc5 h4, #mc5 h5, #mc5 h6 { font-weight: 400; }

  html { -webkit-text-size-adjust: 100%; }
  * { margin:0; }
  body, #website { 
    font-size: 16px; 
    overflow: hidden; 
    background: #ee4266; 
    margin: 0; 
    font-family:'Open Sans', sans-serif; 
    position: absolute; 
    top: 0; left: 0; width: 100%; height: 100%; 
    -webkit-overflow-scrolling: touch; 
  }

  div, span { max-height: 200000px; }
  .testoc { line-height: 1.2; vertical-align:top; }
  .testoc span > span > a, .testoc span > font > span > a { display:inline-block; }
  body.flazioNoScroll { overflow: hidden !important; }

  body *::-webkit-scrollbar { width: 8px; }
  body *::-webkit-scrollbar-thumb { border-radius: 15px; background: rgba(153, 156, 161, 0.8); }
  body *::-webkit-scrollbar-track { border-radius: 5px; border: 1px solid rgba(255,255,255,0.1); background: rgba(0,0,0,0.1); }

  .yscrollbar { 
    position: absolute; top: 0; right: 0; width: 10px; z-index:30000; 
    border-radius: 15px; background: rgba(0, 0, 0, 0.2); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1); 
  }
  .yscroller { background: #bbd; position: relative; width:100%; height:70px; cursor: pointer; }
  .yscroller:hover { border-radius: 15px; }
  .yscroller:active { background: #003399; }

  body.overflow_recaptha { height: auto !important; overflow: scroll !important; }
  div#mc5.popup:after { 
    content: ""; position: fixed; display: block; 
    background: rgba(0,0,0,0.6); width: 100%; height: 100%; 
    top: 0; left: 0; z-index: 2000; 
  }

  video {
    filter: -opera-shader(url(data:text/plain;base64,Ly8gaHR0cHM6Ly9naXRodWIuY29tL0dQVU9wZW4tRWZmZWN0cy9GaWRlbGl0eUZYLUNBUwovLyB2MwoKdW5pZm9ybSBzaGFkZXIgaUNodW5rOwp1bmlmb3JtIGZsb2F0MiBpTW91c2U7CnVuaWZvcm0gZmxvYXQ0IGlWaXNpYmxlUmVjdDsKdW5pZm9ybSBmbG9hdCBpQXJnc1sxXTsKCmNvbnN0IGZsb2F0IEVQU0lPTiA9IDAuMTsKY29uc3QgZmxvYXQgVl9NSU4gPSAwOwpjb25zdCBmbG9hdCBWX0xPVyA9IDAuMjU7CnVuaWZvcm0gZmxvYXQgVl9NRUQgPSAwLjU7CnVuaWZvcm0gZmxvYXQgVl9ESUdIID0gMC43NTsKdW5pZm9ybSBmbG9hdCBWX01BWCA9IDE7Cgpjb25zdCBmbG9hdCBUSFJFU0hPTERfQVJFQSA9IDgwMCAqIDYwMDsKY29uc3QgZmxvYXQgTUlOX0FSRUEgPSA0MDAgKiAxMDA7CmNvbnN0IGZsb2F0IE1JTl9TVFJJUCA9IDIwOwpjb25zdCBmbG9hdCBNQVJHSU4gPSAxOwoKaW5saW5lIGZsb2F0MyBwaXhlbChmbG9hdDIgeHksIGZsb2F0MiBvZmZzZXQpIHsKICAgIHJldHVybiBpQ2h1bmsuZXZhbCh4eSArIG9mZnNldCkucmdiOwp9CgppbmxpbmUgZmxvYXQzIHNoYXJwZW4oZmxvYXQyIHh5KSB7CiAgICBmbG9hdDMgZiA9CiAgICAgICAgcGl4ZWwoeHksIGZsb2F0MigtMSwgLTEpKSAqICAxICsKICAgICAgICBwaXhlbCh4eSwgZmxvYXQyKCAwLCAtMSkpICogLTEgKwogICAgICAgIHBpeGVsKHh5LCBmbG9hdDIoIDEsIC0xKSkgKiAgMSArCgogICAgICAgIHBpeGVsKHh5LCBmbG9hdDIoLTEsIDApKSAqIC0xICArCiAgICAgICAgcGl4ZWwoeHksIGZsb2F0MiggMCwgMCkpICogLTEgICsKICAgICAgICBwaXhlbCh4eSwgZmxvYXQyKCAxLCAwKSkgKiAtMSAgKwoKICAgICAgICBwaXhlbCh4eSwgZmxvYXQyKC0xLCAxKSkgKiAxICAgKwogICAgICAgIHBpeGVsKHh5LCBmbG9hdDIoIDAsIDEpKSAqIC0xICArCiAgICAgICAgcGl4ZWwoeHksIGZsb2F0MiggMSwgMSkpICogMTsKICAgIHJldHVybiBmIC8gLTE7Cn0KCmZsb2F0NCBSR1gyKGZsb2F0MiB4eSkgewogICAgZmxvYXQyIGNodW5rX3NpemUgPSBpVmlzaWJsZVJlY3Quenc7CiAgICBmbG9hdDQgY29sb3IgPSBpQ2h1bmsuZXZhbCh4eSk7CgogICAgaWYgKGNodW5rX3NpemUueCAqIGNodW5rX3NpemUueSA8IE1JTl9BUkVBKSB7CiAgICAgICAgcmV0dXJuIGNvbG9yOwogICAgfQoKICAgIGlmIChjaHVua19zaXplLnkgPCBNSU5fU1RSSVAgfHwgY2h1bmtfc2l6ZS54IDwgTUlOX1NUUklQKSB7CiAgICAgICAgcmV0dXJuIGNvbG9yOwogICAgfQoKICAgIGlmICh4eS54IDwgTUFSR0lOIHx8IHh5LnggPiAoY2h1bmtfc2l6ZS54IC0gTUFSR0lOKSB8fAogICAgICAgIHh5LnkgPCBNQVJHSU4gfHwgeHkueSA+IChjaHVua19zaXplLnkgLSBNQVJHSU4pKSB7CiAgICAgICAgcmV0dXJuIGNvbG9yOwogICAgfQoKICAgIHJldHVybiBmbG9hdDQoc2hhcnBlbih4eSksIDEpOwp9CgppbmxpbmUgZmxvYXQzIG1pbjN2KGZsb2F0MyB4LCBmbG9hdDMgeSwgZmxvYXQzIHopIHsKCXJldHVybiBtaW4oeCwgbWluKHksIHopKTsKfQoKaW5saW5lIGZsb2F0MyBtYXgzdihmbG9hdDMgeCwgZmxvYXQzIHksIGZsb2F0MyB6KSB7CglyZXR1cm4gbWF4KHgsIG1heCh5LCB6KSk7Cn0KCmZsb2F0MyBSR1gzKGZsb2F0MiB4eSwgZmxvYXQgc3RyZW5ndGgpIHsKICAgIGZsb2F0MyBhID0gcGl4ZWwoeHksIGZsb2F0MigtMSwgLTEpKTsKICAgIGZsb2F0MyBiID0gcGl4ZWwoeHksIGZsb2F0MiggMCwgLTEpKTsKICAgIGZsb2F0MyBjID0gcGl4ZWwoeHksIGZsb2F0MiggMSwgLTEpKTsKCiAgICBmbG9hdDMgZCA9IHBpeGVsKHh5LCBmbG9hdDIoLTEsIDApKTsKICAgIGZsb2F0MyBlID0gcGl4ZWwoeHksIGZsb2F0MiggMCwgMCkpOwogICAgZmxvYXQzIGYgPSBwaXhlbCh4eSwgZmxvYXQyKCAxLCAwKSk7CgogICAgZmxvYXQzIGcgPSBwaXhlbCh4eSwgZmxvYXQyKC0xLCAxKSk7CiAgICBmbG9hdDMgaCA9IHBpeGVsKHh5LCBmbG9hdDIoIDAsIDEpKTsKICAgIGZsb2F0MyBpID0gcGl4ZWwoeHksIGZsb2F0MiggMSwgMSkpOwoKICAgIGZsb2F0MyBtaW5fZGVmID0gbWluM3YoZCwgZSwgZik7CiAgICBmbG9hdDMgbWluX2JkZWZoID0gbWluM3YoYiwgbWluX2RlZiwgaCk7CiAgICBmbG9hdDMgbWluX2FiY2RmZ2hpID0gbWluM3YobWluM3YoYSwgbWluX2JkZWZoLCBjKSwgZywgaSk7CiAgICBmbG9hdDMgbWluM19mYWN0b3IgPSBtaW5fYmRlZmggKyBtaW5fYWJjZGZnaGk7CgogICAgZmxvYXQzIG1heF9kZWYgPSBtYXgzdihkLCBlLCBmKTsKICAgIGZsb2F0MyBtYXhfYmRlZmggPSBtYXgzdihiLCBtYXhfZGVmLCBoKTsKICAgIGZsb2F0MyBtYXhfYWJjZGZnaGkgPSBtYXgzdihtYXgzdihhLCBtaW5fYmRlZmgsIGMpLCBnLCBpKTsKICAgIGZsb2F0MyBtYXgzX2ZhY3RvciA9IG1heF9iZGVmaCArIG1heF9hYmNkZmdoaTsKCiAgICBmbG9hdDMgZmFjdG9yID0gMS4wIC8gbWF4M19mYWN0b3I7CgogICAgZmxvYXQzIGFtcCA9IHNhdHVyYXRlKG1pbihtaW4zX2ZhY3RvciwgMiAtIG1heDNfZmFjdG9yKSAqIGZhY3Rvcik7CiAgICBmbG9hdDMgYW1wX3NxcnQgPSBzcXJ0KGFtcCk7CgogICAgZmxvYXQgcGVhayA9IC0xLjAgLyAobWl4KDgsIDUsIHN0cmVuZ3RoKSk7CgogICAgZmxvYXQzIGNyb3NzX3dlaWdodHMgPSBhbXBfc3FydCAqIHBlYWs7CiAgICBmbG9hdDMgd2VpZ2h0cyA9IDEgLyAoMSArIDQgKiBjcm9zc193ZWlnaHRzKTsKCiAgICBmbG9hdDMgcmVzdWx0ID0gKChiICsgZCArIGYgKyBoKSAqIGNyb3NzX3dlaWdodHMgKyBlKSAqIHdlaWdodHM7CgogICAgcmV0dXJuIHNhdHVyYXRlKHJlc3VsdCk7Cn0KCmZsb2F0NCBtYWluKGZsb2F0MiB4eSkgewoKICAgIGZsb2F0NCBvcmlnaW5hbENvbG9yID0gaUNodW5rLmV2YWwoeHkpOwogICAgaWYgKG9yaWdpbmFsQ29sb3IuYSA8IDEpIHsKICAgICAgICByZXR1cm4gaUNodW5rLmV2YWwoeHkpOwogICAgfQoKICAgIGZsb2F0IGludGVuc2l0eSA9IGlBcmdzWzBdOwogICAgZmxvYXQgc3RyZW5ndGggPSAwOwogICAgZmxvYXQzIGNvbG9yOwoKICAgIGlmIChpbnRlbnNpdHkgPCBWX01JTiArIEVQU0lPTikgewogICAgICAgIHN0cmVuZ3RoID0gMC4xMDsKICAgICAgICBjb2xvciA9IFJHWDMoeHksIHN0cmVuZ3RoKTsKCiAgICB9IGVsc2UgaWYgKGludGVuc2l0eSA+IFZfTE9XIC0gRVBTSU9OICYmIGludGVuc2l0eSA8IFZfTE9XICsgRVBTSU9OKSB7CiAgICAgICAgc3RyZW5ndGggPSAwLjMzOwogICAgICAgIGNvbG9yID0gUkdYMyh4eSwgc3RyZW5ndGgpOwoKICAgIH0gZWxzZSBpZiAoaW50ZW5zaXR5ID4gVl9NRUQgLSBFUFNJT04gJiYgaW50ZW5zaXR5IDwgVl9NRUQgKyBFUFNJT04pIHsKICAgICAgICBzdHJlbmd0aCA9IDAuNTsKICAgICAgICBjb2xvciA9IFJHWDMoeHksIHN0cmVuZ3RoKTsKCiAgICB9IGVsc2UgaWYgKGludGVuc2l0eSA+IFZfSElHSCAtIEVQU0lPTiAppliedCAmIGludGVuc2l0eSA8IFZfSElHSCArIEVQU0lPTikgewogICAgICAgIHN0cmVuZ3RoID0gMC45OTsKICAgICAgICBjb2xvciA9IFJHWDMoeHksIHN0cmVuZ3RoKTsKCiAgICB9IGVsc2UgaWYgKGludGVuc2l0eSA+IFZfTUFYIC0gRVBTSU9OKSB7CiAgICAgICAgc3RyZW5ndGggPSAxOwogICAgICAgIGNvbG9yID0gUkdYMih4eSkucmdijsKICAgIH0KCiAgICByZXR1cm4gZmxvYXQ0KGNvbG9yLCBvcmlnaW5hbENvbG9yLmEpOwp9KSAtb3BlcmEtYXJncygwLjUwIGNhbGMoZW52KC1vcGVyYS1hY2NlbnQtY29sb3ItciwgMjU1KS8yNTUpIGNhbGMoZW52KC1vcGVyYS1hY2NlbnQtY29sb3ItZywgMjU1KS8yNTUpIGNhbGMoZW52KC1vcGVyYS1hY2NlbnQtY29sb3ItYiwgMjU1KS8yNTUpKSk7
  }
#aruba h1, #aruba h2, #aruba h3, #aruba h4, #aruba h5, #aruba h6 { 
  margin: 0; 
  line-height: 1.2em; 
  padding-bottom: .4em; 
  font-weight: 600; 
}
.comp_ombrasemplice { 
    position: absolute; bottom: 0; width: 100%; height: 100%; 
    box-shadow: 0 4px 12px -6px; border-radius: inherit; pointer-events: none; 
}
.comp_ombradestrasinistra, .comp_ombrasinistra, .comp_ombradestra, .comp_ombrataglio {
    position: absolute; bottom: -20px; left: 0; height: 20px; width: 100%; 
    overflow: hidden; border-radius: inherit;
}
.comp_ombradestrasinistra:before {
    z-index: -1; position: absolute; content: ""; bottom: 30px; left: 10px;
    width: calc(50% - 10px); height: 20px; max-width: 300px;
    box-shadow: 0 15px 10px; transform: rotate(-3deg);
}
.comp_ombradestrasinistra:after {
    z-index: -1; position: absolute; content: ""; bottom: 30px; right: 10px;
    width: calc(50% - 10px); height: 20px; max-width: 300px;
    box-shadow: 0 15px 10px; transform: rotate(3deg);
}
.comp_ombrasinistra:before {
    z-index: -1; position: absolute; content: ""; bottom: 30px; left: 10px;
    width: calc(50% - 10px); height: 20px; max-width: 300px;
    box-shadow: 0 15px 10px; transform: rotate(-3deg);
}
.comp_ombradestra:after {
    z-index: -1; position: absolute; content: ""; bottom: 30px; right: 10px;
    width: calc(50% - 10px); height: 20px; max-width: 300px;
    box-shadow: 0 15px 10px; transform: rotate(3deg);
}
.comp_ombrataglio:before {
    content:""; position:absolute; z-index:-1;
    box-shadow:0 0 20px; height: 20px; bottom: 20px;
    left:15px; right:15px; border-radius:100px / 10px;
}
.comp_ombralunga { 
    position: absolute; bottom: 0; width: 100%; height: 100%; 
    border-radius: inherit;
    box-shadow: 1px 1px, 2px 2px, 3px 3px, 4px 4px, 5px 5px, 6px 6px, 7px 7px, 8px 8px, 9px 9px, 10px 10px, 11px 11px, 12px 12px, 13px 13px, 14px 14px, 15px 15px, 16px 16px, 17px 17px, 18px 18px, 19px 19px, 20px 20px, 21px 21px, 22px 22px, 23px 23px, 24px 24px, 25px 25px, 26px 26px, 27px 27px, 28px 28px, 29px 29px, 30px 30px, 31px 31px, 32px 32px, 33px 33px, 34px 34px, 35px 35px, 36px 36px, 37px 37px, 38px 38px, 39px 39px, 40px 40px, 41px 41px, 42px 42px, 43px 43px, 44px 44px, 45px 45px, 46px 46px, 47px 47px, 48px 48px, 49px 49px, 50px 50px, 51px 51px, 52px 52px, 53px 53px, 54px 54px, 55px 55px, 56px 56px, 57px 57px, 58px 58px, 59px 59px, 60px 60px;
}
.comp_ombrainterna { position: absolute; bottom: 0; width: 100%; height: 100%; box-shadow: inset 0 0 10px; z-index: 1; border-radius: inherit; pointer-events: none; }
.comp_effettoglossy { position: absolute; bottom: 0; width: 100%; height: 100%; box-shadow: 0 1px 4px, inset 0 0 40px; z-index: 1; border-radius: inherit; pointer-events: none; }

.comp_doppiotaglio:before, .comp_doppiotaglio:after, .comp_doppiotaglioverticale:before, .comp_doppiotaglioverticale:after {
    content:""; position:absolute; z-index:-1; box-shadow:0 0 20px; border-radius:100px / 10px;
}
.comp_doppiotaglio:before, .comp_doppiotaglio:after { top:0; bottom:0; left:20px; right:20px; }
.comp_doppiotaglioverticale:before, .comp_doppiotaglioverticale:after { top:10px; bottom:10px; left:0; right:0; }
.comp_doppiotaglio:after, .comp_doppiotaglioverticale:after { right:10px; left:auto; transform:skew(8deg) rotate(3deg); }
.comp_ombraannullata { position: absolute; bottom: 0; width: 100%; height: 100%; box-shadow: 0 4px 12px -6px; left: 0; border-radius: inherit; }
.comp_ombraannullata:before, .comp_ombraannullata:after { display: none !important; }
.shadow_tendina { 
    width: 230px; height: 134px; transform: scale(.3); transform-origin: top left;
    background: var(--background-primary); color: rgba(0,0,0,0.4); 
    position: absolute; margin-bottom: 50px; 
}
.shadow_tendina.active { background: var(--background-primary-hover); }
:root img[width="728"][height="90"], :root [href^="https://adstub.net/"], :root amp-ad, :root div[id^="google_dfp_"], :root div[id^="ad-"] { display: none !important; }
